<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div>
        <h2><%= link_to "Wikinimous by Leandro", articles_path %></h2>
      </div>
      <div>
        <button><%= link_to "New article", new_article_path %></button>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
